<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body style="background-color: lightgrey;">
    <a href="/logout"><button>Logout</button></a>
    <h1>Welcome, Admin!</h1>
    <h3>Assign Task To User</h3>
    <form action="/addTask" method="POST" style="background-color: beige;">
        <h2>User:-<input type="text" name="username" placeholder="Username" required /></h2>
        <h2>Title:-<input type="text" name="title" placeholder="Title" required /></h2>
        <h2>Description:-<input type="text" name="description" placeholder="Description" required /></h2>
        <h2>Deadline:-<input type="date" name="deadline" placeholder="Deadline" required /></h2>
        <button type="submit">Add Task</button>
      </form>
      <hr />
    <div style=" width: 500px;margin-left: 25%; font-size: larger;background-color: lightyellow;">
        <h2>List of all users</h2>
      {% if data %}
        {% for user in users_list %}
        <div >
            <h3>User Name :- <a href="/user/{{ user.username }}">{{ user.username }}</a></h3>
            <h3>Email Id. :- <span>{{ user.email }}</span></h3>
        </div>
        <hr>
      
        {% endfor %}
        <!-- Admin-specific content goes here -->
      {% else %}
        <h1>Access Denied</h1>
      {% endif %}
    </div>
  </body>
</html>
