<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div style="border:solid; height: 600px; width: 700px;align-items: center; text-align: center;margin-left: 20%;">
        <h1>Login</h1>
        <div style="background-color: antiquewhite; text-align:center;font-size: larger; ">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Login</button>
            </form>
            <br>
            <a href="/register"><button type="button">Go to Register</button></a>
        </div>
    </div>
  </body>
</html>
